.choise
  position relative
  &-filters
    max-width 120px
    padding-top 54px
    +to-width(992px)
      position absolute
      left -20px
      top 50px
      transition 0.4s all
      z-index 10
      background-color white
      padding 20px
      max-width 200px
      transform translateX(-140%)
      &.active
        transform translateX(0%)

    &__clear
      font-size 11px
      color #141414
      padding-bottom 1px
      margin-bottom 20px
      display inline
      cursor pointer
      border-bottom 1px solid #141414
      t()
      &:hover
        border-bottom 1px solid transparent

  &-body
    position relative
    display flex
    justify-content space-between
    t()

  &-wrap
    display flex
    align-items flex-end

  &-container
    margin-left -8px
    margin-right -8px

  &-content
    width 100%
    padding-left 150px
    +to-width(1200px)
      padding-left 50px
    +to-width(992px)
      padding-left 0px

.filter
  margin-top 40px


  &__title
    font-size 14px
    font-weight bold
    text-transform uppercase
    padding-bottom 14px

  &-list
    margin-left -20px
    margin-right 0px
    max-height 88px
    overflow hidden
    transition 0.8s all
    &.active
      max-height 400px

  &-item
    position relative
    width 100%
    font-size 10px
    text-transform uppercase
    padding 6px 0
    padding-left 20px
    display flex
    align-items center
    cursor pointer
    &.active
      background-color #e5e6e8
      pointer-events none
      .filter-item__close
        pointer-events all
        height 4px
        width 4px
        position absolute
        right 10px
        top 10px
        cursor pointer
        &:after
          content ''
          position absolute
          left 0
          top 0
          height 2px
          width 7px
          background-color #141414
          transform rotate(45deg)
        &:before
          content ''
          position absolute
          left 0
          top 0
          height 2px
          width 7px
          background-color #141414
          transform rotate(-45deg)

    &__color
      border 1px solid #eaeaea
      height 7px
      width 20px
      margin-right 10px
      margin-bottom 2px

  &-more
    margin-top 10px
    font-size 10px
    font-weight bold
    text-transform uppercase
    width max-content
    position relative
    cursor pointer
    &:after
      content ''
      height 1px
      background-color #141414
      position absolute
      bottom -2px
      left 0
      width 100%
      t()
    &:hover
      &:after
        background-color transparent

  &-button
    background #fff100
    font-size 11px
    text-transform uppercase
    margin-top 40px
    text-align center
    padding 12px 15px
    border 2px solid #fff100
    white-space nowrap
    cursor pointer
    t()
    &:hover
      background-color white

.tags
  display flex
  flex-wrap wrap
  min-height 24px
  &-item
    max-height 24px
    margin-right 10px
    border-radius 50px
    font-size 10px
    padding 6px 12px
    padding-right 28px
    text-transform uppercase
    border 1px solid #141414
    position relative
    margin-top 5px
    .tags-item__close
      height 4px
      width 4px
      position absolute
      right 15px
      top 10px
      cursor pointer
      &:after
        content ''
        position absolute
        left 0
        top 0
        height 2px
        width 8px
        background-color #141414
        transform rotate(45deg)
      &:before
        content ''
        position absolute
        left 0
        top 0
        height 2px
        width 8px
        background-color #141414
        transform rotate(-45deg)
    &:last-child
      margin-right 0
