body
	position relative
	min-width 320px
	width 100%
	color #141414
	font-weight bold
	transition 0.5s all
	background-color white
	&.fixed
		overflow hidden

html
	font-family OpenSans, sans-serif
	font-size 62.5%
	line-height 1.4
	letter-spacing 0
	min-width 320px
	margin-left auto
	margin-right auto


section
	padding-top 15px
	padding-bottom 40px
	transition 1s transform

.section

	&-title
		font-size 4.6em
		text-transform uppercase
		padding-bottom 15px
		margin-left -2px
		+to-width(640px)
			font-size 3.2em

	&-text
		font-size 1.4em
		line-height 1.6
		padding-bottom 40px
		+to-width(640px)
			font-size 1.2em


.wrap
	position relative
	padding 0 40px
	width 100%
	margin-left auto
	margin-right auto
	max-width 1200px
	+to-width(992px)
		padding 0 30px
	+to-width(640px)
		padding 0 20px



.main
	display flex
	flex-direction column
	min-height 100vh
	position relative
	z-index 2

.nothing
	display none
	align-items center
	justify-content center
	width 100%
	height 100%
	&__image
		max-width 90%
