// Sorren = 'Sorren'
// Playfair = 'Playfair'
// Integral = 'IntegralCF-Heavy'
//
//
// icomoon = 'icomoon'
//
//
// @font-face {
// 	font-family: 'Montserrat';
// 	src: url('../fonts/Montserrat-Regular.eot');
// 	src: url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
// 		url('../fonts/Montserrat-Regular.woff2') format('woff2'),
// 		url('../fonts/Montserrat-Regular.woff') format('woff'),
// 		url('../fonts/Montserrat-Regular.ttf') format('truetype');
// 	font-weight: 400;
// 	font-style: normal;
// }
//
// @font-face {
// 	font-family: 'Montserrat';
// 	src: url('../fonts/CourierNew-Bold.eot');
// 	src: url('../fonts/CourierNew-Bold.eot?#iefix') format('embedded-opentype'),
// 		url('../fonts/CourierNew-Bold.woff2') format('woff2'),
// 		url('../fonts/CourierNew-Bold.woff') format('woff'),
// 		url('../fonts/CourierNew-Bold.ttf') format('truetype');
// 	font-weight: 700;
// 	font-style: normal;
// }
//
// @font-face {
// 	font-family: 'Playfair';
// 	src: url('../fonts/Playfair/PlayfairDisplay-Regular.eot');
// 	src: url('../fonts/Playfair/PlayfairDisplay-Regular.eot?#iefix') format('embedded-opentype'),
// 		url('../fonts/Playfair/PlayfairDisplay-Regular.woff2') format('woff2'),
// 		url('../fonts/Playfair/PlayfairDisplay-Regular.woff') format('woff'),
// 		url('../fonts/Playfair/PlayfairDisplay-Regular.ttf') format('truetype');
// 	font-weight: 400;
// 	font-style: normal;
// }
//
// @font-face {
// 	font-family: 'Playfair';
// 	src: url('../fonts/Playfair/PlayfairDisplay-Italic.eot');
// 	src: url('../fonts/Playfair/PlayfairDisplay-Italic.eot?#iefix') format('embedded-opentype'),
// 		url('../fonts/Playfair/PlayfairDisplay-Italic.woff2') format('woff2'),
// 		url('../fonts/Playfair/PlayfairDisplay-Italic.woff') format('woff'),
// 		url('../fonts/Playfair/PlayfairDisplay-Italic.ttf') format('truetype');
// 	font-weight: 400;
// 	font-style: italic;
// }
//
// @font-face {
// 	font-family: 'Montserrat';
// 	src: url('../fonts/CourierNew-Bold.eot');
// 	src: url('../fonts/CourierNew-Bold.eot?#iefix') format('embedded-opentype'),
// 		url('../fonts/CourierNew-Bold.woff2') format('woff2'),
// 		url('../fonts/CourierNew-Bold.woff') format('woff'),
// 		url('../fonts/CourierNew-Bold.ttf') format('truetype');
// 	font-weight: 700;
// 	font-style: normal;
// }
//
// @font-face {
// 	font-family: 'Sorren';
// 	src: url('../fonts/Sorren-Medium.eot');
// 	src: url('../fonts/Sorren-Medium.eot?#iefix') format('embedded-opentype'),
// 		url('../fonts/Sorren-Medium.woff2') format('woff2'),
// 		url('../fonts/Sorren-Medium.woff') format('woff'),
// 		url('../fonts/Sorren-Medium.ttf') format('truetype');
// 	font-weight: 500;
// 	font-style: normal;
// }
//
// @font-face {
// 	font-family: 'Sorren';
// 	src: url('../fonts/Sorren-Semibold.eot');
// 	src: url('../fonts/Sorren-Semibold.eot?#iefix') format('embedded-opentype'),
// 		url('../fonts/Sorren-Semibold.woff2') format('woff2'),
// 		url('../fonts/Sorren-Semibold.woff') format('woff'),
// 		url('../fonts/Sorren-Semibold.ttf') format('truetype');
// 	font-weight: 600;
// 	font-style: normal;
// }
//
//
//
// @font-face {
// 	font-family: 'IntegralCF-Heavy';
// 	src: url('../fonts/IntegralCF-Heavy.eot');
// 	src: url('../fonts/IntegralCF-Heavy.eot?#iefix') format('embedded-opentype'),
// 		url('../fonts/IntegralCF-Heavy.woff2') format('woff2'),
// 		url('../fonts/IntegralCF-Heavy.woff') format('woff'),
// 		url('../fonts/IntegralCF-Heavy.ttf') format('truetype');
// 	font-weight: 400;
// 	font-style: normal;
// }
//
//
//
// @font-face {
// 	font-family: 'icomoon';
// 	src: url('../fonts/icomoon/icomoon.eot');
// 	src: url('../fonts/icomoon/icomoon.eot?#iefix') format('embedded-opentype'),
// 		url('../fonts/icomoon/icomoon.woff') format('woff'),
// 		url('../fonts/icomoon/icomoon.ttf') format('truetype');
// 	font-weight: 300;
// 	font-style: normal;
// }
