black = 'OpenSans-Black'
bold = 'OpenSans-Bold'
medium = 'OpenSans-Medium'
regular = 'OpenSans-Regular'
semibold = 'OpenSans-SemiBold'
light = 'OpenSans-Light'

@font-face {
	font-family: 'OpenSans-Black';
	src: url('../fonts/OpenSans/OpenSans-Black/OpenSansBlack.eot');
	src: url('../fonts/OpenSans/OpenSans-Black/OpenSansBlack.eot?#iefix') format('embedded-opentype'),
		url('../fonts/OpenSans/OpenSans-Black/OpenSansBlack.woff2') format('woff2'),
		url('../fonts/OpenSans/OpenSans-Black/OpenSansBlack.woff') format('woff'),
		url('../fonts/OpenSans/OpenSans-Black/OpenSansBlack.ttf') format('truetype'),
		url('../fonts/OpenSans/OpenSans-Black/OpenSansBlack.svg#Circe-Bold') format('svg');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSans-Bold';
	src: url('../fonts/OpenSans/OpenSans-Bold/OpenSansBold.eot');
	src: url('../fonts/OpenSans/OpenSans-Bold/OpenSansBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/OpenSans/OpenSans-Bold/OpenSansBold.woff2') format('woff2'),
		url('../fonts/OpenSans/OpenSans-Bold/OpenSansBold.woff') format('woff'),
		url('../fonts/OpenSans/OpenSans-Bold/OpenSansBold.ttf') format('truetype'),
		url('../fonts/OpenSans/OpenSans-Bold/OpenSansBold.svg#Circe-Light') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSans-Medium';
	src: url('../fonts/OpenSans/OpenSans-Medium/OpenSansMedium.eot');
	src: url('../fonts/OpenSans/OpenSans-Medium/OpenSansMedium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/OpenSans/OpenSans-Medium/OpenSansMedium.woff2') format('woff2'),
		url('../fonts/OpenSans/OpenSans-Medium/OpenSansMedium.woff') format('woff'),
		url('../fonts/OpenSans/OpenSans-Medium/OpenSansMedium.ttf') format('truetype'),
		url('../fonts/OpenSans/OpenSans-Medium/OpenSansMedium.svg#Circe-ExtraBold') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSans-Regular';
	src: url('../fonts/OpenSans/OpenSans-Regular/OpenSansRegular.eot');
	src: url('../fonts/OpenSans/OpenSans-Regular/OpenSansRegular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/OpenSans/OpenSans-Regular/OpenSansRegular.woff2') format('woff2'),
		url('../fonts/OpenSans/OpenSans-Regular/OpenSansRegular.woff') format('woff'),
		url('../fonts/OpenSans/OpenSans-Regular/OpenSansRegular.ttf') format('truetype'),
		url('../fonts/OpenSans/OpenSans-Regular/OpenSansRegular.svg#Circe-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSans-SemiBold';
	src: url('../fonts/OpenSans/OpenSans-SemiBold/OpenSansSemiBold.eot');
	src: url('../fonts/OpenSans/OpenSans-SemiBold/OpenSansSemiBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/OpenSans/OpenSans-SemiBold/OpenSansSemiBold.woff2') format('woff2'),
		url('../fonts/OpenSans/OpenSans-SemiBold/OpenSansSemiBold.woff') format('woff'),
		url('../fonts/OpenSans/OpenSans-SemiBold/OpenSansSemiBold.ttf') format('truetype'),
		url('../fonts/OpenSans/OpenSans-SemiBold/OpenSansSemiBold.svg#Circe-ExtraLight') format('svg');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSans-Light';
	src: url('../fonts/OpenSans/OpenSans-Light/OpenSansLight.eot');
	src: url('../fonts/OpenSans/OpenSans-Light/OpenSansLight.eot?#iefix') format('embedded-opentype'),
		url('../fonts/OpenSans/OpenSans-Light/OpenSansLight.woff2') format('woff2'),
		url('../fonts/OpenSans/OpenSans-Light/OpenSansLight.woff') format('woff'),
		url('../fonts/OpenSans/OpenSans-Light/OpenSansLight.ttf') format('truetype'),
		url('../fonts/OpenSans/OpenSans-Light/OpenSansLight.svg#Circe-ExtraLight') format('svg');
	font-weight: 300;
	font-style: normal;
}
