section.articles
  .wrap
    .articles-body
      .articles-item
        .articles-item__image(style="background-image: url('assets/images/image.jpg');")
      .articles-item
        .articles-item__image(style="background-image: url('assets/images/image-2.jpg');")
      .articles-item
        .articles-item__image(style="background-image: url('assets/images/image-3.jpg');")
      .articles-item
        .articles-item__image(style="background-image: url('assets/images/image-4.jpg');")
      .articles-item
        .articles-item__image(style="background-image: url('assets/images/image-5.jpg');")
      .articles-item
        .articles-item__image(style="background-image: url('assets/images/image-6.jpg');")
      .articles-item
        .articles-item__image(style="background-image: url('assets/images/image-7.jpg');")
      .articles-item
        .articles-item__image(style="background-image: url('assets/images/image-8.jpg');")
      .articles-item
        .articles-item__image(style="background-image: url('assets/images/image-9.jpg');")
