section.choise
  .wrap
    h1.section-title Спортивная обувь
    p.section-text Предназначенные для соревнований и быстрых тренировок. По сути это - кроссовки для соревнований и скоростного бега. Высокие  требования к легкости и отзывчивости неизбежно выливаются в ограничения по весу, толщине подошвы и плотности верха кроссовок.
    .choise-body
      .choise-filters
        .choise-filters__clear Сбросить фильтр
        
        .filter
          h4.filter__title Тип
          ul.filter-list
            li.filter-item(data-filter="cross")
              p.filter-item__text Кроссовки
              .filter-item__close
            li.filter-item(data-filter="shoes")
              p.filter-item__text Ботинки
              .filter-item__close
            li.filter-item(data-filter="sandals")
              p.filter-item__text Сандали
              .filter-item__close
            li.filter-item(data-filter="shlep")
              p.filter-item__text Шлепанцы
              .filter-item__close
        .filter
          h4.filter__title Тип ноги
          ul.filter-list
            li.filter-item(data-filter="small")
              p.filter-item__text Узкая
              .filter-item__close
            li.filter-item(data-filter="middle")
              p.filter-item__text Средняя
              .filter-item__close
            li.filter-item(data-filter="big")
              p.filter-item__text Полная
              .filter-item__close
        .filter
          h4.filter__title Размер
          ul.filter-list
            li.filter-item(data-filter="size39")
              p.filter-item__text 39
              .filter-item__close
            li.filter-item(data-filter="size40")
              p.filter-item__text 40
              .filter-item__close
            li.filter-item(data-filter="size41")
              p.filter-item__text 41
              .filter-item__close
            li.filter-item(data-filter="size42")
              p.filter-item__text 42
              .filter-item__close
            li.filter-item(data-filter="size43")
              p.filter-item__text 43
              .filter-item__close
            li.filter-item(data-filter="size44")
              p.filter-item__text 44
              .filter-item__close
          .filter-more Показать все
          
        .filter
          h4.filter__title Цвет 
          ul.filter-list
            li.filter-item(data-filter="red")
              .filter-item__color(style="background-color: red;")
              p.filter-item__text Красный
              .filter-item__close
            li.filter-item(data-filter="black")
              .filter-item__color(style="background-color: black;")
              p.filter-item__text Черный
              .filter-item__close
            li.filter-item(data-filter="white")
              .filter-item__color(style="background-color: white;")
              p.filter-item__text Белый
              .filter-item__close
            li.filter-item(data-filter="blue")
              .filter-item__color(style="background-color: blue;")
              p.filter-item__text Синий
              .filter-item__close
            li.filter-item(data-filter="gray")
              .filter-item__color(style="background-color: gray;")
              p.filter-item__text Серый
              .filter-item__close
            li.filter-item(data-filter="yellow")
              .filter-item__color(style="background-color: yellow;")
              p.filter-item__text Желтый
              .filter-item__close
          .filter-more Показать все
        
        .filter-button Все фильтры
      
      .choise-content
          .choise-wrap
            .gamburger
              .gamburger__item
              .gamburger__item
              .gamburger__item
            ul.tags
            
          .choise-container
            .goods
              .goods-item.cross.small.size39.size40.size41.size42.white
                .goods-container
                  .goods__like
                  .goods__image(style="background-image:url('assets/images/shoe-1.png');")
                  .goods-info
                    .goods-wrap
                      h5.goods__title Air flow one
                      p.goods__text Мужские кроссовки для бега
                    p.goods__price 4500 Р.
                  p.goods__have Размеры в наличии: <span> 40 41 42 43</span>
    
              .goods-item.goods-item_big.shoes.middle.size41.size42.size43.black
                .goods-container
                  .goods__like
                  .goods__image(style="background-image:url('assets/images/shoe-2.png');")
                  .goods-info
                    .goods-wrap
                      h5.goods__title Air flow one
                      p.goods__text Мужские кроссовки для бега
                    p.goods__price 4500 Р.
                  p.goods__have Размеры в наличии: <span> 40 41 42 43</span>
    
              .goods-item.shlep.big.size41.size42.size43.white
                .goods-container
                  .goods__like
                  .goods__image(style="background-image:url('assets/images/shoe-1.png');")
                  .goods-info
                    .goods-wrap
                      h5.goods__title Air flow one
                      p.goods__text Мужские кроссовки для бега
                    p.goods__price 4500 Р.
                  p.goods__have Размеры в наличии: <span> 40 41 42 43</span>
    
              .goods-item.sandals.small.size41.size42.size43.gray
                .goods-container
                  .goods__like
                  .goods__image(style="background-image:url('assets/images/shoe-3.png');")
                  .goods-info
                    .goods-wrap
                      h5.goods__title Air flow one
                      p.goods__text Мужские кроссовки для бега
                    p.goods__price 4500 Р.
                  p.goods__have Размеры в наличии: <span> 40 41 42 43</span>
    
              .goods-item.sandals.middle.size39.size40.size41.size42.gray
                .goods-container
                  .goods__like
                  .goods__image(style="background-image:url('assets/images/shoe-4.png');")
                  .goods-info
                    .goods-wrap
                      h5.goods__title Air flow one
                      p.goods__text Мужские кроссовки для бега
                    p.goods__price 4500 Р.
                  p.goods__have Размеры в наличии: <span> 40 41 42 43</span>
    
              .goods-item.shlep.big.size39.size40.size42.yellow
                .goods-container
                  .goods__like
                  .goods__image(style="background-image:url('assets/images/shoe-1.png');")
                  .goods-info
                    .goods-wrap
                      h5.goods__title Air flow one
                      p.goods__text Мужские кроссовки для бега
                    p.goods__price 4500 Р.
                  p.goods__have Размеры в наличии: <span> 40 41 42 43</span>
    
              .goods-item.shoes.small.size40.size41.size42.blue
                .goods-container
                  .goods__like
                  .goods__image(style="background-image:url('assets/images/shoe-1.png');")
                  .goods-info
                    .goods-wrap
                      h5.goods__title Air flow one
                      p.goods__text Мужские кроссовки для бега
                    p.goods__price 4500 Р.
                  p.goods__have Размеры в наличии: <span> 40 41 42 43</span>
    
              .goods-item.cross.middle.size39.size40.size41.size43.red
                .goods-container
                  .goods__like
                  .goods__image(style="background-image:url('assets/images/shoe-1.png');")
                  .goods-info
                    .goods-wrap
                      h5.goods__title Air flow one
                      p.goods__text Мужские кроссовки для бега
                    p.goods__price 4500 Р.
                  p.goods__have Размеры в наличии: <span> 40 41 42 43</span>
              
              .nothing
                img(src="assets/images/nothing2.png").nothing__image
      
    .pagination
      .pagination__item.active 1
      .pagination__item 2
      .pagination__item 3
      .pagination__item 4
      .pagination__nothing ...
      .pagination__item 10
  
            
            
