footer.footer
  .wrap
    p.footer__text Предназначенные для соревнований и быстрых тренировок. По сути это - кроссовки для соревнований и скоростного бега. Высокие  требования к легкости и отзывчивости неизбежно выливаются в ограничения по весу, толщине подошвы и плотности верха кроссовок.
