header.header
  .wrap
    .header-gamburger
      .header-gamburger__item
        .header-gamburger__item
          .header-gamburger__item
    nav.nav
      ul.nav-list
        li.nav-list__item.active
          a(href="#") Мужчины
        li.nav-list__item
          a(href="#") Женщины
        li.nav-list__item
          a(href="#") Дети
        li.nav-list__item
          a(href="#") Новинки
        li.nav-list__item
          a(href="#") Акции
        li.nav-list__item
          a(href="#") Lookbook

    .breadcrumbs
      a(href="#").breadcrumbs__item Главная
      a(href="#").breadcrumbs__item Мужчины
