header.header
  .wrap
    
    .header-wrap
      a(href="/").header-logo
        img(src="assets/images/logo.png")
      
      a(href="tel:88005553535").header-phone
        img(src="assets/images/phone.svg")
  
    a(href="profile.html").header-user
      .header-user__name Alexey
      .header-user__image(style="background-image: url('assets/images/ava.jpg')")
    
    .gamburger
      .gamburger__item
      .gamburger__item
      .gamburger__item
