section.modal
  .wrap
    .modal-container
      h3.modal__title Я модалка, я всплываю.
      .modal__close
        img(src="assets/images/close.svg")
      .category
        .category-item
          .category-item__container Абстракции
        .category-item.active
          .category-item__container Живопись
        .category-item
          .category-item__container Общество
        .category-item
          .category-item__container Города
      
      .modal-body
        .modal-item
          .modal-item__image(style="background-image: url('assets/images/image.jpg');")
        .modal-item
          .modal-item__image(style="background-image: url('assets/images/image-2.jpg');")
        .modal-item
          .modal-item__image(style="background-image: url('assets/images/image-3.jpg');")
        .modal-item
          .modal-item__image(style="background-image: url('assets/images/image-4.jpg');")
