section.profile
  .wrap
    .profile-wrap
      
      .profile-head
        .profile__image(style="background-image: url('assets/images/ava.jpg')")
        .profile-info
          h2.profile__name Юзерный Юзер Юзерович
          .profile-contacts
            a(href="mailto:maminsyn@gmail.com").profile-contacts__item maminsyn@gmail.com
            a(href="tel:88005553535").profile-contacts__item 8 800 555 35 35
            a(href="http://alexey-chernov.ru/").profile-contacts__item alexey-chernov.ru
        
      .profile-content
        p.profile__text Зная, что отличает живое от неживого, — это видимое устройство. Живые организмы — от простейших бактерий до огромной секвойи — состоят из множества частей, благодаря которым они и функционируют. Ваши руки, сердце, селезенка, митохондрии, ресницы, нейроны и пальцы ног — такие разные части организма работают вместе, чтобы вы смогли передвигаться, питаться, думать и выживать. А теперь посмотрим на какую-нибудь скалу. Даже самый красивый утес не сравнится по количеству составных частей с простейшей бактериальной клеткой, которая способна делиться и размножаться.
        .profile__button Показать фокус
